<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style type="text/css">
        body {
            margin-top: 20px;
            border: 2px solid black;
            padding: 5px;
            background-color: gray;
        }
    </style>
</head>

<body class="container">


    <div class="jumbotron">
        <h1>WEL COME</h1>

        <p>Society provides excellent hostel facilities for students. Girls hostel is located in the campus itself so it makes easy access between college and students. The hostels and hostel facilities are of high quality and well equipped. The girls hostel
            530 girls. The rooms provide most modern facilities and privacy.</p>

        <p>Since its inception the hostel has been rendering yeomen service to the student community irrespective of their caste, creed or religion. The hostel down the years has become a witness for dialogue of life were students from various backgrounds
            come and stay in one place and grow together in an atmosphere of mutual respect and trust. Being a home away from home the hostel gives due attention to molding the personality of the inmates so that they can become responsible citizens of
            the country.</p>
    </div>

    <div class="jumbotron">
        <h3>****Girls Hostel-Sports, Games****</h3>

        <ul>
            <li>Shuttle Badminton court</li>
            <li>Volley Ball Court</li>
            <li>Carom Board</li>
            <li>Guest room and meeting cells are available and active in each hostel to facilitate the students parent meeting.</li>
        </ul>
    </div>

    <div class="jumbotron">
        <h3 id="one">HOSTEL FACILITIES</h3>
        <ul>
            <li>
                <h4>Reading Room</h4>
            </li>

            Each hostel has a reading room where news papers, periodicals and popular magazines are made available.

            <li>
                <h4>Television Room</h4>
            </li>

            Each hostel has a separate Television room with cable connection.

            <li>
                <h4>Internet & Computer Centre facilities</h4>
            </li>

            Each hostel unit has a computer center with internet facilities to meet the need of the students till midnight.

            <li>
                <h4>Solar-Heated Water</h4>
            </li>

            As a step towards making an environment-friendly campus that is less dependent on the conventional power supply, we have provided facilities of solar heating to supply hot water to all hostel bathrooms.

            <li>
                <h4>Generators</h4>
            </li>

            To overcome the challenges of frequent load-shedding we have a set of generators that provide power back-up facility to the Institutes during college hours and to the Hostels in the evenings so that the day-to-day activities of students are not interrupted.
        </ul>

        <button class="btn btn-success">
            <a href="https://www.quora.com/How-is-KLS-Gogte%E2%80%99s-hostel">Students Opinion</a></button>

        <button class="btn btn-success">
            <a href="/girls/hostel/contact">Contact Info</a></button>

        <button class="btn btn-warning">
               <a href="/girls">Back</a></button>

        <br>
        <br>
        <br>
    </div>
</body>

</html>