<!DOCTYPE html>
<!DOCTYPE html>
<html>

<head>
    <title></title>
    <style type="text/css">
        h1 {
            text-shadow: 3px 3px 3px;
        }
        
        body {
            text-align: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        
        h1 {
            color: red;
        }
        
        button {
            background-color: yellow;
            text-shadow: 1px 1px 1px;
        }
        
        button:hover {
            background-color: green;
        }
    </style>
</head>

<body background="https://lh5.googleusercontent.com/p/AF1QipMd4Snro3xJo3uzCBVmFWd7M8iifUqf5H8RFpvB=w325-h704-k-no">
    <h1>
        <marquee>Welcome to Boys Hostels</marquee>
    </h1>
    <br><br>

    <form action="/boys/about">
        <button type="submit"><h3>ABOUT</h3></button>
    </form>

    <br>
    <br>

    <form action="https://docs.google.com/forms/d/e/1FAIpQLSfUxIZ3tbgn3WNgUGAAb_MzSlYyDwMrk2nMWR0EahbbPHkV5g/viewform?usp=pp_url">
        <button type="submit"><h3>REQUEST FOR ROOM</h3>
        
        </button>
    </form>

    <br>
    <br>

    <form action="/boys/image">
        <button type="submit"><h3>IMAGES</h3></button>
    </form>

    <br>
    <br>

    <form action="/both">
        <button type="submit"><h3>Back</h3></button>
    </form>

</body>

</html>