<!DOCTYPE html>
<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style type="text/css">
        body {
            padding: 10px;
            border: 2px solid black;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #96c93d, #00b09b);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #96c93d, #00b09b);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        
        h1 {
            text-decoration: underline;
            padding: 2px;
        }
    </style>

</head>

<body class="container">

    <div class="jumbotron">
        <h1>Contact Hostel Administrator</h1>

        GIT has furnished Boys Hostel located inside the campus and has capacity to accommodate 345 students in 115 rooms with amenities such as Internet Connectivity, CCTV Cameras etc. Boys Hostel has its own Mess. The institute has a Girls hostel located inside
        the campus and has capacity to accommodate 210 students in 105 rooms with amenities such as Internet Connectivity, CCTV Cameras etc. Girls Hostel has its own Mess.Another exclusive Girls hostel is located in Bhagyanagar, Tilakwadi at a distance
        of 2 kms from the institute with capacity of 68 students in 34 rooms.

    </div>

    <div class="jumbotron">
        <h3>Boys Hostel</h3>
        <ul>
            <li>Incharge of Boys Hostel : Shri S.B.Halbhavi, Department of Electrical and Electronics Engineering</li>

            <ul>
                <li>Contact No. : +91-831-2498500 (extension 242)</li>
            </ul>

            <li>Rector of Boys Hostel : Shri Mohan N. Jadhav</li>

            <ul>
                <li>Contact No. : +91-831-2405539, Cell : +91-9448361328</li>
            </ul>
        </ul>
    </div>


    <div class="jumbotron">
        <h3>Girls Hostel</h3>
        <ul>
            <li>Incharge of Girls Hostel : Prof. (Mrs.) Rashmi Jogdand, Department of Computer Science & Engineering</li>

            <ul>
                <li>Contact No. : +91-831-2498500 (extension 272)</li>
            </ul>

            <li>Rector of Girls Hostel : Shri Dasharath Sawant</li>

            <ul>
                <li>Contact No. : +91-831-2405535 (GIT Campus), Cell : +91-9482075144</li>

                <li>Contact No. : +91-831-2405538 (Bhagyanagar)</li>
            </ul>
        </ul>
    </div>



</body>

</html>