<!DOCTYPE html>
<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style type="text/css">
        img {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 200px;
            height: 200px;
            float: left;
            margin: 1.66%;
        }
        
        p {
            color: white;
            font-family: Raleway;
            margin-left: 1.66%;
            font-size: 23px;
            font-weight: 800;
            border-bottom: 2px solid red;
            width: 30%;
        }
        
        body {
            background: #200122;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #6f0000, #200122);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #6f0000, #200122);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        
        div {
            padding: 300px;
            margin-bottom: 15px;
        }
    </style>
</head>

<body class="container">
    <p>EXTERIOR</p>

    <a href="https://lh5.googleusercontent.com/p/AF1QipOSpzHOk_sLOwcPB1mOF3Whrtf_wUMIjH3X2JjQ=w325-h182-k-no">
        <img src="https://lh5.googleusercontent.com/p/AF1QipOSpzHOk_sLOwcPB1mOF3Whrtf_wUMIjH3X2JjQ=w325-h182-k-no">
    </a>

    <a href="https://lh5.googleusercontent.com/p/AF1QipMBFTyEsW5F9eCTzuaCcyoKZhl7FWS2XVdJu80s=w325-h243-k-no">
        <img src="https://lh5.googleusercontent.com/p/AF1QipMBFTyEsW5F9eCTzuaCcyoKZhl7FWS2XVdJu80s=w325-h243-k-no">
    </a>

    <a href="https://lh5.googleusercontent.com/p/AF1QipMvVbb7sN7W92EWG5R4NFyxXwGy6i-Ig8aaeucd=w325-h243-k-no">
        <img src="https://lh5.googleusercontent.com/p/AF1QipMvVbb7sN7W92EWG5R4NFyxXwGy6i-Ig8aaeucd=w325-h243-k-no">
    </a>

    <a href="https://lh3.googleusercontent.com/p/AF1QipPmCwP7GfyQyB5K5-LW8zErBg-iDuD7HCG8bpPc=w296-h202-n-k-rw-no-v1">
        <img src="https://lh3.googleusercontent.com/p/AF1QipPmCwP7GfyQyB5K5-LW8zErBg-iDuD7HCG8bpPc=w296-h202-n-k-rw-no-v1">
    </a>

    <a href="https://lh5.googleusercontent.com/p/AF1QipNwqPqt2F55-zOpi2cIUNBWPygjMb9MRRjS__tM=w325-h243-k-no">
        <img src="https://lh5.googleusercontent.com/p/AF1QipNwqPqt2F55-zOpi2cIUNBWPygjMb9MRRjS__tM=w325-h243-k-no">
    </a>

    <a href="https://lh5.googleusercontent.com/p/AF1QipOkp0qoXAfdUC1ke2XG3_f5CjcfUot7VhojZ2YH=w325-h433-k-no">
        <img src="https://lh5.googleusercontent.com/p/AF1QipOkp0qoXAfdUC1ke2XG3_f5CjcfUot7VhojZ2YH=w325-h433-k-no">
    </a>


    <p>ROOMS</p>

    <a href="https://lh3.googleusercontent.com/p/AF1QipOc-hlIqoGsjuTZVeLTi9LR11EkSUwUw3kI7sMN=w296-h202-n-k-rw-no-v1">
        <img src="https://lh3.googleusercontent.com/p/AF1QipOc-hlIqoGsjuTZVeLTi9LR11EkSUwUw3kI7sMN=w296-h202-n-k-rw-no-v1">
    </a>

    <a href="https://lh3.googleusercontent.com/p/AF1QipN2SwW1Vy2euAjL2UBXW26mkZzCbtQkEBW5pMIc=w296-h202-n-k-rw-no-v1">
        <img src="https://lh3.googleusercontent.com/p/AF1QipN2SwW1Vy2euAjL2UBXW26mkZzCbtQkEBW5pMIc=w296-h202-n-k-rw-no-v1">
    </a>

    <a href="https://lh5.googleusercontent.com/p/AF1QipPE6gk4OTWD3rjdJ8452NCGcBiS35HlL7Y8qdL6=w325-h433-k-no">
        <img src="https://lh5.googleusercontent.com/p/AF1QipPE6gk4OTWD3rjdJ8452NCGcBiS35HlL7Y8qdL6=w325-h433-k-no">
    </a>

    <p>MESS / FOOD</p>

    <a href="https://lh5.googleusercontent.com/p/AF1QipNC_iRbpH4M3ShUItswIAKtDZwCMjDuKgnXpaod=w325-h182-k-no">
        <img src="https://lh5.googleusercontent.com/p/AF1QipNC_iRbpH4M3ShUItswIAKtDZwCMjDuKgnXpaod=w325-h182-k-no">
    </a>

    <a href="https://lh5.googleusercontent.com/p/AF1QipP7oAU30x6frL6Pzo2eCoSa5xXD4c1CuGxBVAxP=w325-h182-k-no">
        <img src="https://lh5.googleusercontent.com/p/AF1QipP7oAU30x6frL6Pzo2eCoSa5xXD4c1CuGxBVAxP=w325-h182-k-no">
    </a>

    <a href="https://lh5.googleusercontent.com/p/AF1QipODqgWvaEzMgQlVbC0f-qdmpDVaxJs369m5KI-2=w325-h182-k-no">
        <img src="https://lh5.googleusercontent.com/p/AF1QipODqgWvaEzMgQlVbC0f-qdmpDVaxJs369m5KI-2=w325-h182-k-no">
    </a>

    <div>
        <form action="/girls" method="GET ">
            <button class="btn btn-primary ">Back</button>
        </form>
    </div>

</body>

</html>