<!DOCTYPE html>
<html>

<head>
    <title></title>
    <style type="text/css">
        body {
            text-align: center;
            margin-bottom: 10px;
            padding: 10px;
            box-sizing: content-box;
            border: 5px double black;
            width: 500px;
            height: 300px;
            margin: auto;
            margin-top: 5%;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        form {
            align-items: center;
            font-size: 20px;
        }
    </style>
</head>

<body background="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQOIR9Kjedd6zicWvfqbLcgZjKCQ4PF_IxJOExxyZEBqI1M5wXb&usqp=CAU">



    <h1>Sign-Up HERE</h1>

    <form action="/register" method="POST">

        <label>User Name:
        <input type="text" name="username" placeholder="username" required>
        </label>
        <br>
        <br>
        <label>
			Password:
			<input type="Password" name="password" placeholder="password" required>
		</label>
        </div>

        <br>
        <br>

        <button>Submit</button>


    </form>

</body>

</html>